*{
  margin: 0;
  padding: 0;
}

.bk{
  position: relative;
  top: 0;
  left: 0;
}
.bk img{
    width: auto;
  	height: auto;
  	max-width: 100%;
  	max-height: 100%;

}
.st0{
  fill:#6EBFB0;
}
.goOnLine{
  fill:none;
  stroke:#6EBFB0;
  stroke-miterlimit:10;
}
.goOnLine_before{
  fill:none;
  stroke:#000000;
  stroke-miterlimit:10;
}
#before{
  animation-duration: 1.5s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}
#text{
  animation-duration: 1.5s;
  animation-delay: 0s;
}
#after{
  display:none;
}
.button{
  opacity:0;
}
.btn{
  cursor: pointer;
}
#jpg{
  display:none;
}
/*loadingpage*/
.loading{
  width: 100%;
  height: 100%;
  position: fixed;
  background: #fff;
  margin:0;
  padding: 0;
}
.img{
position:absolute;
top:0;
bottom:0;
left:0;
right:0;
margin:auto;
height:20%;
}
