@font-face {
    font-family: 'aspirademi';
    src: url('/font/aspira_demi-webfont.woff2') format('woff2'),
         url('/font/aspira_demi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aspiralight';
    src: url('/font/aspira_light-webfont.woff2') format('woff2'),
         url('/font/aspira_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aspiramedium';
    src: url('/font/aspira_medium-webfont.woff2') format('woff2'),
         url('/font/aspira_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aspiraregular';
    src: url('/font/aspira_regular-webfont.woff2') format('woff2'),
         url('/font/aspira_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aspirathin';
    src: url('/font/aspira_thin-webfont.woff2') format('woff2'),
         url('/font/aspira_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*{
  margin: 0;
  padding: 0;
}
.bk{
  position: relative;
}
body
  {
  background-color:black;
  scroll-behavior:smooth;
  }
.bk{
    opacity:0.95;
  }
.cover_headline1{
  fill:#FFFFFF;
  font-family:'aspirademi';;
  font-size:99.6835px;
  letter-spacing:7px;
}
.cover_headline2{
  fill:#FFFFFF;
  font-family:'aspirathin';
  font-size:99.6835px;
  letter-spacing:7px;
}

.navi_c{
    display:none;
}

.navi_text{
  position: relative;
  fill:#FFFFFF;
  font-family:'aspirademi';
  font-size:72px;
  text-decoration: none;
}
.navi_text:hover{
  fill:#00FF84;
}
.navi_text:before{
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: #00FF84;
  transition: all .3s ease-in-out 0s;
}

.navi_text:hover:before{
  width: 100%;
  left: 0;
  right: 0;
}

.bar_hover{
  display:none;
  animation-duration: 5s;
  animation-delay: 0s;
}
.logo_line{
  fill:none;
  stroke:#FFFFFF;
  stroke-width:1.0543;
  stroke-miterlimit:10;
}
.logo_movement{
  display: none;
  animation-duration: 10s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
}
#close:hover{
  fill:#00FF84;
}

.st0{
  fill:#030303;
}
.logo_click{
  opacity:0;
}

.st1{
  fill:none;
  stroke:#00FF84;
  stroke-width:2.2802;
  stroke-miterlimit:10;
}
.st2{
  fill:#00FF84;
}
.st3{
  fill:none;
  stroke:#00FF84;
  stroke-width:2.2804;
  stroke-linejoin:round;
  stroke-miterlimit:10;
}
.st4{
  fill:none;
  stroke:#00FF84;
  stroke-width:1.8255;
  stroke-miterlimit:10;}
.st5{
  fill:#FFFFFF;
}
.st6{
  fill:none;
  stroke:#00FF84;
  stroke-width:1.0543;
  stroke-miterlimit:10;
}
/* part2 */

  .st_line{
    fill:none;
    stroke:#00FF84;
    stroke-width:0.8537;
    stroke-miterlimit:10;
  }
  .st_line2{
    fill:none;
    stroke:#00FF84;
    stroke-width:0.8125;
    stroke-miterlimit:10;
  }

  .st_line3{
    fill:none;
    stroke:#00FF84;
    stroke-width:0.878;
    stroke-miterlimit:10;
  }
  .cover{
    opacity:0.7;
  }

.project_text{
  fill:#00FF84;
  font-family:'aspirademi';
  font-size:60px;
}
.project{
  cursor: pointer;
}
.project:hover{
  opacity:0;
}
.project_subtitle{
  fill:#00FF84;
  font-family:'aspirathin';
  font-size:18px;
}
.cooome{
  fill:#FFFFFF;
  font-family:'aspiramedium';
  font-size:64px;
}
.comeout{
  display:none;
}
.comeout {
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
/*about*/
.text_foot{
  fill:#FFFFFF;
  font-family:'aspirathin';
  font-size:16px;
}
.text_intro{
  fill:#FFFFFF;
  font-family:'aspirathin';
  font-size:24px;
}
.text_intro_light{
  fill:#00FF84;
  font-family:'aspirathin';
  font-size:24px;
}
.line_footer{
  fill:none;
  stroke:#FFFFFF;
  stroke-miterlimit:10;
}
.text_contact{
  fill:#FFFFFF;
  font-family:'aspiraregular';
  font-size:24px;
}

.st7{
  fill:#00FF84;
}
.st10{
  fill:none;
  stroke:#00FF84;
  stroke-width:1.6511;
  stroke-miterlimit:10;}

.btn{
  cursor: pointer;
}
.btn_c{
  cursor: pointer;
}



#headline {
  -webkit-animation: squiggly-anim 0.34s linear infinite;
          animation: squiggly-anim 0.34s linear infinite;
}
@-webkit-keyframes squiggly-anim {
  0% {
    -webkit-filter: url("#squiggly-0");
            filter: url("#squiggly-0");
  }
  25% {
    -webkit-filter: url("#squiggly-1");
            filter: url("#squiggly-1");
  }
  50% {
    -webkit-filter: url("#squiggly-2");
            filter: url("#squiggly-2");
  }
  75% {
    -webkit-filter: url("#squiggly-3");
            filter: url("#squiggly-3");
  }
  100% {
    -webkit-filter: url("#squiggly-4");
            filter: url("#squiggly-4");
  }
}
@keyframes squiggly-anim {
  0% {
    -webkit-filter: url("#squiggly-0");
            filter: url("#squiggly-0");
  }
  25% {
    -webkit-filter: url("#squiggly-1");
            filter: url("#squiggly-1");
  }
  50% {
    -webkit-filter: url("#squiggly-2");
            filter: url("#squiggly-2");
  }
  75% {
    -webkit-filter: url("#squiggly-3");
            filter: url("#squiggly-3");
  }
  100% {
    -webkit-filter: url("#squiggly-4");
            filter: url("#squiggly-4");
  }
}

.ityped-cursor {
    font-size: 99px;
    color: #FFF;
    opacity: 1;
    -webkit-animation: blink 0.3s infinite;
    -moz-animation: blink 0.3s infinite;
    animation: blink 0.3s infinite;
    animation-direction: alternate;
}
@keyframes blink {
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes blink {
    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    100% {
        opacity: 0;
    }
}
