@font-face {
    font-family: 'aspirademi';
    src: url('/font/aspira_demi-webfont.woff2') format('woff2'),
         url('/font/aspira_demi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aspiralight';
    src: url('/font/aspira_light-webfont.woff2') format('woff2'),
         url('/font/aspira_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aspiramedium';
    src: url('/font/aspira_medium-webfont.woff2') format('woff2'),
         url('/font/aspira_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aspiraregular';
    src: url('/font/aspira_regular-webfont.woff2') format('woff2'),
         url('/font/aspira_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aspirathin';
    src: url('/font/aspira_thin-webfont.woff2') format('woff2'),
         url('/font/aspira_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
  margin: 0;
  padding: 0;
}
.bk{
  position: relative;
  fill:white;
}
body
  {
  scroll-behavior:smooth;
  }
.btn{
  cursor: pointer;
}
/**/
#navi{
  display: none;
}
.navi_text{
  fill:black;
  font-family:'aspirademi';
  font-size:72px;
}
.navi_text:hover{
  fill:#00FF84;
  text-decoration: underline;
}
.st5{
  fill:black;
}
.st5:hover{
  fill:#00FF84;
}
/*cover*/
.st6{
  fill:none;
  stroke:#00FF84;
  stroke-width:1.0543;
  stroke-miterlimit:10;
}
.st2{
  fill:#00FF84;
}
.logo_line{
  fill:none;
  stroke:#000;
  stroke-width:1.5;
  stroke-miterlimit:10;
}
.logo_fill{
  fill:#000;
}
.logo_click{
  opacity:0;
}
/*cover*/
.st0{
  opacity:0.84;fill:#FFFFFF;
}
.headline{
  font-family:'aspirademi';
  font-size:69.0299px;
}
.disc{
  font-family:'aspiraregular';
  font-size:24.3532px;
}
.type{
  font-family:'aspiraregular';
  font-size:18px;
}

/*content*/
.title{
  font-family:'aspirademi';
  font-size:48px;
}
.content_title{
  font-family:'aspiramedium';
  font-size:21px;
}
.content{
  font-family:'aspiralight';
  font-size:21px;
}
.underline{
  fill:none;
  stroke:#000000;
  stroke-width:3;
  stroke-miterlimit:10;
}
.subtitle_text{
  fill:#FFFFFF;
  font-family:'aspiraregular';
  font-size:30px;
}
.small_title{
  font-family:'aspirademi';
  font-size:21px;
}
.line_connection{fill:none;
  stroke:#000000;
  stroke-width:0.75;
  stroke-miterlimit:10;
}
.play{
  font-family:'aspirademi';
  font-size:36px;
}
.st9{
  fill:none;
}
.video{
  display:block;
  margin:180px;
}
/*link_angle*/
.st14{
  fill:none;
  stroke:#000000;
  stroke-width:0.8706;
  stroke-miterlimit:10;
}
.st15{
  fill:none;
  stroke:#000000;
  stroke-miterlimit:10;
}

/*footer*/
.footer_line{
  fill:none;
  stroke:#000000;
  stroke-miterlimit:10;
}
.footer_text{
  font-family:'aspirathin';
  font-size:16px;
}

/*link_angle*/
.st14{
  fill:none;
  stroke:#000000;
  stroke-width:0.8706;
  stroke-miterlimit:10;
}
.st15{
  fill:none;
  stroke:#000000;
  stroke-miterlimit:10;
}
